doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "kuroikyu | welcome"
    link(rel="stylesheet" type="text/css" href="assets/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css")      
  body
    header
      h1 kuroikyu
      h4 browse through my projects
    main
      a(href="/30days30photos" target="_blank") 
        button 30 days 30 photos
    footer
      p noice
