html, body, button {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 680px;
  max-width: 80%;
  margin: 0 auto;
}

li {
  list-style: none !important;
}

button {
  border: none;
  outline: none;
}

#header {
  font-size: 1.6rem;
  text-align: center;
  color: #004e66;
  margin-bottom: 90px;
}

#header h1 span {
  font-weight: 400;
}

#header hr {
  width: 120px;
  border: 1px solid #ff5f2e;
}

#main h2 {
  color: #004e66;
  font-size: 2rem;
  font-weight: 400;
}

#main ul {
  padding: 0;
}

#main ul li {
  margin-bottom: 35px;
  text-align: center;
}

#main ul li button {
  position: relative;
  height: 60px;
  width: 300px;
  padding: 0;
  font-size: 1.4rem;
  color: #004e66;
  transition: all ease-in-out 100ms;
  background-color: #e1eef6;
  box-shadow: 0px 6px 0px 0px #ff5f2e;
}

#main ul li button:active {
  -webkit-transform: translate(0, 6px);
      -ms-transform: translate(0, 6px);
          transform: translate(0, 6px);
  box-shadow: 0px 0px 0px 0px #ff5f2e;
}

#main ul li button.disabled {
  opacity: .4;
}
