:root {
  --black: #1C1824;
  --white: #EEEEEE;
  --white-white: #ffffff;
  --light-text: rgba(238, 238, 238, .6);
  --dark-text: rgba(28, 24, 36, .5);
  --green: #13DE88;
  --purple: #4213DE;
  --pink: #DE1371;
  --title-font: 'Catamaran', sans-serif;
  --body-font: 'Quicksand', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--light-text);
  font-family: var(--body-font);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--white);
  text-shadow: 0px 3px 6px rgba(28, 24, 36, .3);
}

h1 {
  font-size: 4.4em;
  margin: 0;
}
